@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(29, 29, 29);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(29, 29, 29);
}